@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS DEFAULT */
*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* DEFAULT STYLING */

h1,h2,h3,h4,h5,h6 {
    font-family: "Comfortaa", sans-serif;
}

h2 {
    font-weight: 100;
}

a, p, li {
    font-family: "Poppins", sans-serif;
}

.subpage-h1 {
    font-size: 3em;
    padding-top: 1em;
}

.subpage-h2 {
    font-size: 2.5em;
    max-width: fit-content;
    padding-bottom: 0.25em;
}

.main-styling {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 8.75em;
}

.heading-text-left {
    border-bottom: 1px solid black;
    max-width: fit-content;
}

/* HEADER AND NAV-BAR */

.header-nav {
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.4fr;
    width: 100%;
    height: 6em;
    padding-left: 5vw;
    padding-right: 5vw;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #ffffff;
}

.arcinda-logo {
    width: 86px;
    height: 66px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: #585858;
    padding-left: 1em;
    padding-right: 1em;
}

.about {
    color: #585858;
    padding-left: 1em;
    padding-right: 1em;
    cursor: default;
}

.about-dropdown a {
    display: block;
}

.sub-nav {
    display: none;
    position: absolute;
    border: 1px black solid;
    margin-left: 0.4em;
    padding-right: 2em;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
    background-color: white;
}

.sub-nav a {
    padding: 0.1em;
    padding-left: 0.5em;
}

.about-dropdown:hover .sub-nav {
    display: block;
}



.socials-donate {
    display: flex;
    justify-self: end;
    list-style-type: none;
}

.social-icon {
    padding-right: 1.5em;
}

.donate-button a {
    text-decoration: none;
    border: 1px solid black;
    background-color: orange;
    color: white;
    font-weight: 700;
    padding: 0.4em;
}

.nav-toggle {
    display: none;
    padding: 0.5em;
}

.nav-links-mobile {
    display: none;
}

.socials-donate-mobile {
    display: none;
}

.header-and-burger {
    display: none;
}

/* NAV MOBILE DISPLAY */
@media (max-width: 950px) {
    body {
        padding: 0;
    }
    .nav-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        flex-direction: column;
        background: none;
        border: none;
        cursor: pointer;
    }

.header-nav {
        display: flex;
        flex-direction: column;
        align-items: normal;
        width: 100%;
        padding: 0;
        height: auto;
        position: fixed;
        z-index: 9999;
        top: 0;
    }


    .header-reg {
        display: flex;
        justify-content: space-between;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .header-and-burger {
        display: block;
    }

    .header-nav button {
        gap: 0.5em;
        justify-self: end;
    }
    
    .nav-toggle span {
        background-color: rgba(0, 0, 0, 0.869);
        height: 0.2em;
        width: 2em;
        display: flex;
    }

    .nav-links {
        display: none;
    }

    .socials-donate {
        display: none;
    }

    .nav-links-mobile {
        display: none;
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        border: 0.1px solid black;
    }

    .nav-links-mobile a {
        display: none;
        text-decoration: none;
        color: #585858;
        width: 100vw;
        display: flex;
        justify-content: center;
        border: 0.1px solid black;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: #ffffff;
    }

    .about-mobile {
        display: none;
        text-decoration: none;
        color: #585858;
        width: 100vw;
        display: flex;
        justify-content: center;
        border: 0.1px solid black;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: #ffffff;
        cursor: pointer;
    }
    
    .socials-donate-mobile {
        display: none;
        /* display: flex; */
        justify-content: center;
        list-style-type: none;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
        border-bottom: 1px solid black;
    }

    .social-icon {
        padding: 0;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 0.5em;
        
    }

    .about-dropdown-mobile {
        display: none;
    }

    .about-dropdown:hover .sub-nav {
        display: none;
    }

    .about-dropdown {
        display: none;
    }

    .sub-nav-mobile {
        display: none;
    }
    
    .drop-toggle {
        display: none;
        text-decoration: none;
        color: #585858;
        width: 100vw;
        display: flex;
        justify-content: center;
        border: 0.1px solid black;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: #ffffff;
        cursor: pointer;
        user-select: none;
    }

    .sub-nav-mobile a {
        background-color: rgb(217, 217, 217);
        color: #000000;
        user-select: none;
    }

    section {
        padding-top: 6.2em;
    }
}

@media (min-width: 950px) {
    .nav-links-mobile {
        display: none !important;
    }
    .about-dropdown-mobile {
        display: none !important;
    }

    .socials-donate-mobile {
        display: none !important;
    }


}

/* HERO SECTION */

.hero-section {
    display: flex;
    background-image: url('../images/bonang-hero.jpg');
    color: #ffffff;
    height: 48em;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0, 0.7);
    background-blend-mode: darken;
    padding-left: 5vw;
    padding-right: 5vw;
}

.home-h1 {
    font-size: 4em;
}

.arcinda-sub-title {
    font-size: 2em;
    padding-top: 0.3em;
}

@media (max-width: 950px) {
    .hero-section {
        flex-direction: column;
        justify-content: center;
    }

    .home-h1 {
        text-align: center;
    }

    .arcinda-sub-title {
        text-align: center;
    }

    .arcinda-container {
        padding-bottom: 2em;
    }

    .hero-video {
        padding-top: 2em;
    }

    .hero-video iframe {
        width: 500px;
        height: 281px;

    }
    
}

@media (max-width: 600px) {
    .hero-video iframe {
        width: 350px;
        height: 197px;
    }
}

/* HIGHLIGHT SECTION */

.highlight-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 8.75em;
    padding-bottom: 8.75em;
    padding-left: 5vw;
    padding-right: 5vw;
}

.heading-text-center {
    align-self: center;
    border-bottom: 1px solid black;
    max-width: fit-content;
    text-align: center;
    padding-bottom: 0.5em;
}

.home-h2 {
    font-size: 2.5em;
}

.home-h3 {
    font-size: 2em;
    border-bottom: 1px solid black;
    max-width: fit-content;
    padding-bottom: 0.25em;
}

.home-h2 h2 {
    border-bottom: 1px solid black;
}



.text-video-or-img {
    display: flex;
    justify-content: space-between;
    padding-top: 5em;
}



.highlight-text {
    padding-right: 5em;
}

.highlight-text p {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.highlight-video iframe {
    width: 40vw;
    height: 25vw;
}

@media (max-width: 950px) {

    .highlight-section {
        align-items: center;
        padding-bottom: 0;
    }

    .text-video-or-img {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .highlight-text {
        padding-right: 0;
    }

    .highlight-video iframe {
        width: 500px;
        height: 281px;
    }

    .home-h3 {
        text-align: center;
        margin: 0 auto;

    }
}

@media (max-width: 600px) {
    .highlight-video iframe {
        width: 350px;
        height: 197px;
    }
}

/* WHO WE ARE SECTION */

.who-we-are-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 8.75em;
    padding-left: 5vw;
    padding-right: 5vw;
}

.center-text p {
    padding-top: 3.375em;
}

.link-button a {
    text-decoration: none;
    border: 1px solid black;
    background-color: orange;
    color: white;
    font-weight: 700;
    padding: 0.4em;
}

@media (max-width: 950px) {
    .who-we-are-section {
        padding-bottom: 0;
    }
}

/* EVENTS SECTION */
.events-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5vw;
    padding-right: 5vw;
}

.schedule-grid {
    padding-top: 3.375em;
    border-bottom: 0.5px solid black;
}

.schedule-event {
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr;
    border-top: 0.5px solid black;
    padding-top: 1em;
    padding-bottom: 1em;
}

.event-day {
    font-weight: 600;
}

.event-town {
    display: flex;
    align-items: center;
}

.more-info-button {
    display: flex;
    justify-content: end;
    align-self: center;
}

.more-info-button a {
    text-decoration: none;
    border: 1px solid black;
    color: white;
    font-weight: 700;
    padding: 0.4em;
}

.link-button {
    display: flex;
    justify-content: center;
    padding-top: 3.375em;
}

@media (max-width: 600px) {
    .schedule-event {
        grid-template-columns: 1fr;
    }
}


/* JOIN US SECTION */

.join-us-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 8.75em;
    padding-bottom: 8.75em;
    padding-left: 5vw;
    padding-right: 5vw;
}

.join-button {
    display: flex;
    padding-top: 1.5em;
}

.join-button a {
    text-decoration: none;
    border: 1px solid black;
    background-color: orange;
    color: white;
    font-weight: 700;
    padding: 0.4em;
}

.join-image-and-text {
    display: flex;
    flex-direction: row;
    padding-top: 3.375em;
}

.join-image img {
    width: 43vw;
}

.join-text {
    padding-left: 5em;
}

.join-text p {
    padding-bottom: 1.5em;
}

@media (max-width: 950px) {
    .join-image-and-text {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .join-text {
        padding-left: 0;
    }

    .join-image img {
        width: 500px;
    }

    .join-image {
        padding-bottom: 3.375em;
    }

    .join-button {
        justify-content: center;
    }
    .join-us-section {
        padding-bottom: 0;
    }
}

@media (max-width: 600px) {
    .join-image img {
        width: 350px;
    }
}

/* SPONSORS SECTION */

.sponsors-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 8.75em;
    padding-left: 5vw;
    padding-right: 5vw;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 3.375em;
}

.image-row img {
    height: 6.5vw;
    width: auto;
}

.seaview {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sponsors-section p {
    font-style: italic;
}

.seaview p {
    padding-top: 0.5em;
}

@media (max-width: 950px) {
    .image-row {
        flex-direction: column;
    }
    .image-row img {
        height: 15vw;
        width: auto;
    }
}

/* MEMBERS PAGE */

.member-article {
    display: flex;
    padding-top: 8.75em;
}

.member-article p {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.heading-and-text {
    padding-right: 5em;
}

.bio-image img {
    width: 25vw;
}

@media (max-width: 950px) {

    .main-styling {
        padding-top: 6.2em;
    }

    .member-article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .heading-and-text {
        padding-right: 0;
    }

    .bio-image img {
        width: 50vw;
    }
    .heading-text-left {
        margin: 0 auto;
    }
}

/* ORGANIZATION PAGE */

.organization-article {
    display: flex;
    padding-top: 8.75em;
    padding-bottom: 8.75em;
}

.organization-article p {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.organization-image img {
    width: 43vw;
}

.what-and-purpose {
    display: flex;
}

.half p {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.half ul {
    padding-left: 2em;
}

@media (max-width: 950px) {

    .organization-article {
        flex-direction: column;
        padding-bottom: 0;
    }

    .organization-image {
        margin: 0 auto;
    }

    .organization-image img {
        width: 80vw;
    }

    .what-and-purpose {
        flex-direction: column;
    }

    .half {
        padding-top: 8.75em;
    }
}

/* DONATION PAGE */

.donation-text {
    padding-top: 3.375em;
    padding-bottom: 3.375em;
}

/* MEDIA PAGE */

.video-select {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 3.375em;
}

.video-select-tutorial {
    padding-bottom: 1.5em;
}

.video-row {
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding-bottom: 1em;
}

.video-row p {
    cursor: pointer;
    display: flex;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    width: 15em;
    height: 4em;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0.5px black solid;
}

.video-container {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    width: 640px;
    height: 360px;
}

.video-container iframe {
    z-index: 2;
}

.video-container-text {
    position: absolute;
}

@media (max-width: 700px) {
    .video-container {
        width: 320px;
        height: 180px;
    }

    .video-container iframe {
        width: 320px;
        height: 180px;
    }

    .video-row {
        width: 90vw;
        gap: 0.5em;
    }
    .video-row p {
        font-size: 10px;
        
        width: 20em;
        height: 6em;
    }
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    background-color: #500000;
    color: white;
    height: 12.5em;
    justify-content: center;
    align-items: center;
}

.footer p {
    padding: 0.5em;
}
